body {
  text-align: center;
  background-color: #ececec;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #7a7a7a;
  display: inline-block;
  padding: 1rem;
  border: 8px solid #ececec;
  outline: none;
  border-radius: 1rem;
  box-shadow:
	  -10px -10px 15px rgba(255,255,255,0.5),
	   10px 10px 15px rgba(70,70,70,0.12);
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 8px solid #ececec;
  outline: none;
  border-radius: 50%;
  box-shadow:
  -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
}

.btn:focus {
  box-shadow:
  -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
}

.btn:active {
  box-shadow:
	-10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12),
	inset -10px -10px 15px rgba(255,255,255,0.5),
	inset 10px 10px 15px rgba(70,70,70,0.12);
}

.red::after {
  content: "\f011";
  font-family: FontAwesome;
  font-size: 70px;
	color: #ff4c4c;
}

.green::after {
  content: "\f011";
  font-family: FontAwesome;
  font-size: 70px;
	color: #4cff4c;
}

.blue::after {
  content: "\f011";
  font-family: FontAwesome;
  font-size: 70px;
  color: #4c4cff;
}

.yellow::after {
  content: "\f011";
  font-family: FontAwesome;
  font-size: 70px;
	color: #ffff4c;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
