body {
  text-align: center;
  background-color: #ececec;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #7a7a7a;
  display: inline-block;
  padding: 1rem;
  border: 8px solid #ececec;
  outline: none;
  border-radius: 1rem;
  box-shadow:
	  -10px -10px 15px rgba(255,255,255,0.5),
	   10px 10px 15px rgba(70,70,70,0.12);
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 8px solid #ececec;
  outline: none;
  border-radius: 50%;
  box-shadow:
  -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
}

.btn:focus {
  box-shadow:
  -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12);
}

.pressed {
  background-color: #f6f6f6;
  box-shadow:
	-10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12),
	inset -20px -20px 15px rgba(255,255,255,0.5),
	inset 20px 20px 15px rgba(70,70,70,0.12);
}

.btn:active {
  box-shadow:
	-10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12),
	inset -20px -20px 15px rgba(255,255,255,0.5),
	inset 20px 20px 15px rgba(70,70,70,0.12);
}

.btn:after {
  content: "\f011";
  font-family: FontAwesome;
  font-size: 80px;
}

.red::after {
  color: #ff4c4c;
}

.green::after {
	color: #4cff4c;
}

.blue::after {
  color: #4c4cff;
}

.yellow::after {
	color: #ffff4c;
}

.game-over {
  background-color: #ff4c4c;
  opacity: 0.8;
}
/* *********************media queries************************* */
@media (min-width:335px) and (max-width: 500px) {
  .btn {
    height: 100px;
    width: 100px;
  }
  .btn:after {
    font-size: 40px;
  }
}

@media (max-width:334px) {
  .btn {
    height: 80px;
    width: 80px;
  }
  .btn:after {
    font-size: 32px;
  }
}

@media (max-width:294px) {
  .btn {
    height: 60px;
    width: 60px;
  }
  .btn:after {
    font-size: 24px;
  }
}
